###############################################
# DATAGATE STUFF
# Rules for SSL access to Db2 DDF
###############################################
TTLSRule DBD1Rule8102
{
  LocalPortRange           8102
  Direction                Inbound
  TTLSGroupActionRef       Db2SslGroup
  TTLSEnvironmentActionRef DBD1SslEnv
}
TTLSGroupAction Db2SslGroup
{
  TTLSEnabled       On
  CtraceClearText   On
  FIPS140 Off
  Trace  7
}
TTLSEnvironmentAction DBD1SslEnv
{
  TTLSKeyRingParms
  {
    Keyring          DBD1RING
  }
  TTLSEnvironmentAdvancedParms
  {
    SSLV2 OFF
    SSLV3 OFF
    TLSV1 OFF
    TLSV1.1 OFF
    TLSV1.2 ON
    TLSV1.3 OFF
    ClientAuthType PassThru
  }
  HandShakeRole         Server
  TTLSCipherParmsRef    Db2SslCipherParms
}
TTLSCipherParms Db2SslCipherParms
{
  V3CipherSuites     TLS_RSA_WITH_AES_128_GCM_SHA256
  V3CipherSuites     TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
  V3CipherSuites     TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
  V3CipherSuites     TLS_RSA_WITH_AES_128_CBC_SHA
}
TTLSCipherParms              StunnelParms
{
  V3CipherSuites4Char       C02FC030
}
TTLSGroupAction  StunnelGroup
{
  TTLSEnabled                       On
}
TTLSRule StunnelDWP1Sim148
{
  REMOTEPORTRANGE                   1-20000
  RemoteAddr                        0.0.0.0/0
  Direction                         Outbound
  TTLSGroupActionRef                StunnelGroup
  TTLSEnvironmentActionRef          StunnelClientEnvironment
}
TTLSEnvironmentAction        StunnelClientEnvironment
{
  TTLSKeyRingParms
  {
    Keyring                       STCDB2/DBD1RING
  }
  TTLSEnvironmentAdvancedParms
  {
    SSLv2 Off
    SSLv3 Off
    TLSv1 Off
    TLSv1.1 Off
    TLSv1.2 On
    TLSv1.3 Off
    ClientAuthType PassThru
    CLIENTHANDSHAKESNI REQUIRED
    CLIENTHANDSHAKESNIMATCH OPTIONAL
    CLIENTHANDSHAKESNILIST dg1.{{ cluster_domain.stdout }}
  }
  HandshakeRole                     CLIENT
  TTLSCipherParmsRef                StunnelParms
  Trace                             255
}
